{
  "intercomApiKey": "myApiKey",
  "intercomAppId": "myAppId",
  "callHomeUrl": "https://test-callhome.solinkcloud.com",
  "callHomeUsername": "callHomeUser",
  "callHomePassword": "callHomePassword",
  "prefix": "Integration -"
}